.cost {
  display: flex;
  flex-direction: column;

  background: black;
  color: white;
  padding: .5em;
  border-radius: .25em;
  align-items: center;
  height: fit-content;
}

.biome {
  font-size: 1.5em;
}

.baseStat {
  display: flex;

  position: absolute;
  right: 0;
  bottom: 15%;

  border: .05em solid black;
  border-radius: .5em 0em 0em 0em;
  font-size: 2em;
  background-color: var(--halfwhite);

  width: 26.5%;
  text-align: center;

  >* {
    padding-left: .3em;
  }

}

.bottombar {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.stat {
  height: 100%;
  flex-grow: 2;
  width: 33%;
  align-items: center;
  flex-direction: column;
  display: flex;

  border: .05em solid black;
  font-size: 2em;
  background-color: var(--quarterdark);
  color: white;

  >* {
    margin: auto;
  }
}

.bonusStat {
  composes: stat;
  width: 15%;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  span {
    font-size: .6em;
  }
}