//v5
.name {
  padding: .5em;
  font-size: 2em;
  text-align: center;

  background-color: var(--halfwhite);

  border-bottom: .1em solid black;
}

.text {
  padding: .5em;
  font-size: 1.1em;
}

.text :global(td) {
  padding-right: .5em;
  border: 1px gray solid;
}

.text :global(.columns) {
  display: flex;
  justify-content: space-around;
}

.text :global(.col) {
  display: flex;
  flex-direction: column;
}

.text :global(.row) {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}