// v7

.text {
  flex-grow: 2;
  font-size: 1.5em;
  padding: .7em;
  background-color: var(--halfwhite);
  text-align: center;
}

.reward {
  display: flex;
  flex-grow: 2;
  font-size: 3em;
  padding: .7em;
  background-color: var(--halfwhite);
  text-align: center;

  >* {
    margin: auto;
  }
}