.card {
  width: 375px;
  height: 525px;
  float: left;

  font-size: 16px;

  display: flex;
  flex-direction: column;

  border: solid .25em black;

  white-space: pre-line;

  /* This doesn't seem to work :( */
  break-inside: avoid;
}

@media print {
  .card {
    /* print size (750 * .3) and (1050 * .3) and (32 * .3) */
    width: 225px;

    height: 315px;
    font-size: 9px;
  }
}

.card :global(span.icon) {
  height: 20px;
  width: 20px;
  background-color: white;
  background-size: cover;
  display: inline-block;
}

.card :global(span.circled) {
  background-color: var(--halfwhite);
  border: solid .1em silver;
  border-radius: 50%;
  padding: 0.1em;
}

.card :global(span.icon.forest) {
  background-image: url("/forest_icon.png");
}

.card :global(span.icon.cave) {
  background-image: url("/cave_icon.jpg");
}

.card :global(span.icon.desert) {
  background-image: url("/desert_icon.png");
}

.card :global(span.icon.ocean) {
  background-image: url("/ocean_icon.png");
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5em;
  font-size: 1.5em;

  background-color: var(--halfwhite);
}

.cost {
  display: flex;
  flex-direction: column;

  background: black;
  color: white;
  padding: .5em;
  border-radius: .25em;
  align-items: center;
  height: fit-content;
}

.type {
  color: black;
  font-size: .9em;
  font-variant-caps: all-small-caps;
  font-style: italic;
}

.biome {
  font-size: 1.5em;
}

.card .art {
  width: 100%;
  height: 38%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.card .art:empty {
  background: silver;
}

.card .art img {
  max-height: 100%;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.text {
  flex-grow: 2;
  font-size: 1.2em;
  padding: .7em;
  background-color: var(--halfwhite);
}

.bottombar {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.stat {
  height: 100%;
  width: 25%;
  align-items: center;
  flex-direction: column;
  display: flex;

  border: .05em solid black;
  font-size: 2em;
  background-color: var(--halfwhite);
}