.card {
  width: 375px;
  height: 525px;

  display: flex;
  flex-direction: column;

  border: solid .25rem black;

  white-space: pre-line;
}

.card :global(span.icon) {
  height: 20px;
  width: 20px;
  background-color: white;
  background-size: cover;
  display: inline-block;
}

.card :global(span.icon.forest) {
  background-image: url("/forest_icon.png");
}

.card :global(span.icon.cave) {
  background-image: url("/cave_icon.jpg");
}

.card :global(span.icon.desert) {
  background-image: url("/desert_icon.png");
}

.card :global(span.icon.ocean) {
  background-image: url("/ocean_icon.png");
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem;
  font-size: 2rem;

  background-color: var(--quarterwhite);
}

.cost {
  background: black;
  color: white;
  padding: .25em;
  border-radius: .25em;
}

.biome {
  font-size: 2.5rem;
}

.card .art {
  width: 300px;
  height: 200px;

  margin-left: auto;
  margin-right: auto;

  background: goldenrod;
}

.text {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--quarterwhite);
}

.bottombar {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 25%;
}

.type {
  font-size: 1.25rem;
  padding: .5rem;
  margin-right: auto;
  background-color: var(--quarterwhite);
}

.stat {
  width: 20%;
  align-items: center;
  flex-direction: column;
  display: flex;

  padding: .5rem;
  border: .05em solid black;
  font-size: 2rem;
  background-color: var(--quarterwhite);
}